
<section class="body">
	<div class="home-wrap">
		<h1>All Tools</h1>
		<% for tool in @tools %>

				<h3 class="h3"><%= tool.title %></h3>
				<p><%= tool.desc %></p>
				<div class="btn btn-small">
					<%= link_to "View", tool %>
				</div>

		<% end %>
	</div>

</section>