<script>
  (function() {
    var cx = '008297227787996518107:iqfk8czcuvu';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<style type="text/css">
	.gsc-control-cse{

	}
	.gsc-webResult, .gsc-result{

	}
	.gsc-url-top{
		font-size: 14px;
	}
	.gs-snippet{
		padding:.25em .5em;
		font-size: 1.25em;
	}


	.gs-title a{
		display: block !important;
		margin:0 0 15px !important;
		font-size: 1.15em !important;
		color:#08C !important;
		text-decoration: none !important;
	}
	.gs-title a b{
		font-size: 1em !important;
		color:#08C !important;
	}
	.gsc-cursor-page{
		margin:0 .25em !important;
		padding:.25em .5em!important;
		font-size: 1.25em;
		border:#e0e0e0 1px solid !important;
		border-radius:4px;
	}
/*	.gsc-table-cell-snippet-close{
		width:500px !important;
		font-size: 1.15em !important;
		float:left !important;
		text-align: left !important;
	}*/
</style>
<div class="home-wrap">
	<h1><%= @result %></h1>
<gcse:searchresults-only linkTarget="_self"></gcse:searchresults-only>
</div>