

.code-header{
	margin:0;
	padding:5px 0 10px;
	font-size: 3em;
	border-bottom:#f8f8f8 1px solid;
}

.code--block{
	display: block;
	position: relative;
	width:100%;
	vertical-align: top;
	margin:0 0 2em;
	overflow: hidden;
}

	.code--title{
		// padding:0 .5em;
		a{
			display: inline-block;
			padding:.45em 0;
			color:#08C;
			font-size: 1.5em;
			-webkit-transition:all .1s ease-in-out;
			&:hover{
				// text-decoration: underline;
			}
		}
		// @include linear-gradient(top, #f8f8f8, #eee);
	}
		.code-actions{
			float:right;
			a{
				display: inline-block;
				padding:.5em;
				font-size: .75em;
				border-radius:5px;
				border:#CCC 1px solid;
				&:hover{
					@include linear-gradient(top, #FFF, #e5e5e7);
					box-shadow:rgba(0,0,0,0.2) 0px 1px 3px;
					border-color:#999;
				}
			}
		}
	.code--body{
		position: relative;
		margin:0 auto .45em;
		padding:0 0 1.25em;
		border-bottom:#f0f0f0 1px solid;
		code{
			margin:0 !important;
		}
		pre{
			margin:0 !important;
			// text-shadow:rgba(0,0,0,0.8) 0px -1px 0px;
		}
		p{
			padding:.25em .5em;
		}
	}

	.code--foot{
		padding:.25em 0 .65em;
		background:#fff;
		border-bottom:#f0f0f0 1px solid;
		p{
			float:left;
			margin:0 10px 0 0;
			a{
				padding:0 10px;
				border-right:#f0f0f0 1px solid;
			}
		}
		.code-tags{
			margin:0;
			padding:0;
			list-style: none;
			li{
				display: inline-block;
			}
			a{
				display: block;
				padding:.35em .75em;
				font-size: .85em;
				border-radius:5px;
				border:#CCC 1px solid;
				&:hover{
					@include linear-gradient(top, #FFF, #e5e5e7);
					box-shadow:rgba(0,0,0,0.2) 0px 1px 3px;
					border-color:#999;
				}
			}
		}
	}

.category-nav{
	margin:10px auto;
	text-align: center;
	&:after{
		content: "";
		display: block;
		clear:both;
	}
	li{
		display: inline-block;
		float: left;
	}
	a{
		display: block;
		padding:10px;
		border-right:#e0e0e0 1px solid;
		// box-shadow:rgba(255,255,255,0.7) 1px 0px 0px;

	}
}
.category--active{
	a{
		color:#333;
	}
}



// ----------------------------------------------------------------------
// ------------------------- TAG CLOUD STYLES ---------------------------
// ----------------------------------------------------------------------

.tag-cloud{
	display: block;
	list-style: none;
	margin:0;
	padding:0;
	li{
		display: block;
		margin:.5em auto;
		// @include linear-gradient(top, #f6f6f8, #e5e5e7);
		border-radius:5px;
		border:#CCC 1px solid;
		overflow: hidden;
		&:hover{
			@include linear-gradient(top, #FFF, #e5e5e7);
			box-shadow:rgba(0,0,0,0.2) 0px 1px 3px;
			border-color:#999;
		}
	}
	.list-head{
		background: none;
		border:0;
		padding:.5em 1em;
		&:hover{
			background: none;
			box-shadow: none;
		}
	}
	a{
		display: block;
		width:100%;
		float: left;
		padding:.5em 1em;
		color:#222;
		font-size: .85em;
	}
	.add a{
		width:80%;
		box-shadow: inset rgba(0,0,0,.1) -1px 0px 0px, rgba(255,255,255,0.3) 1px 0px 0px;
	}
		a.tag--add-link{
			width:20%;
			float:left;
			box-shadow:none;
			&:hover{
				box-shadow:rgba(0,0,0,0.4) 0px 0px 7px;
				@include linear-gradient(top, #009EED, #08C);
				color:#fff;
				text-shadow:rgba(0,0,0,0.3) 0px -1px 0px;
			}
		}
		a.tag--remove-link{
			width:20%;
			float:left;
			box-shadow:none;
			&:hover{
				box-shadow:rgba(0,0,0,0.4) 0px 0px 7px;
				@include linear-gradient(top, #F24E29, #DE4826);
				color:#fff;
				text-shadow:rgba(0,0,0,0.3) 0px -1px 0px;
			}
		}
}

.tags--current{
	li{
		border-color:#999;
		@include linear-gradient(top, rgb(119, 201, 229), rgb(100, 173, 216));
		&:hover{
			@include linear-gradient(top, rgb(129, 219, 248), rgb(108, 188, 234));
		}
		a{
			color:#fff;
			text-shadow:rgba(0,0,0,0.3) 0px -1px 0px;
		}
	}
}

