
<div class="wrap">
  <button class="code-preview" data-status="inactive">Preview</button>

  <%= render "code_form" %>

</div>

<div class="result-wrap">
  <button class="close-preview">Close Preview</button>
  <div class="result"></div>
</div>
