
.wrap{
	margin:20px auto;
	max-width:1000px;
}

.container{
	padding:20px;
	background: #fff;
}

.code-header{
	margin:0;
	padding:5px 0 10px;
	font-size: 3em;
	border-bottom:#f8f8f8 1px solid;
}

.code--block{
	display: block;
	vertical-align: top;
	margin:0 auto 40px;
	border-radius:5px;
	// box-shadow:rgba(0,0,0,0.2) 0px 1px 3px;
	overflow: hidden;
}

	.code--title{
		padding:10px 0;
		font-size: 1.5em;
		a{
			display: inline-block;
			padding:10px;
			color:#222;
			border:transparent 2px solid;
			border-radius:5px;
			-webkit-transition:all .1s ease-in-out;
			&:hover{
				color:#08C;
				border:#EEE 2px solid;
			}
		}
		// @include linear-gradient(top, #f8f8f8, #eee);
	}
	.code--body{
		// pre{
		// 	padding:20px;
		// 	color:#f8f8f8;
		// 	text-shadow:#000 0px -1px 0px;
		// 	background:#333;
		// }
		code{
			margin:0 !important;
		}
		pre{
			margin:0 !important;
			text-shadow:rgba(0,0,0,0.8) 0px -1px 0px;
		}
	}
	.code--foot{
		padding:5px 0;
		background:#fff;
		p{
			float:left;
			margin:0 10px 0 0;
			a{
				padding:0 10px;
				border-right:#f0f0f0 1px solid;
			}
		}
		.view-code{
			float:right;
			padding:5px 20px;
			border:#08C 2px solid;
			border-radius:5px;
			text-shadow:none;
			&:hover{
				color:#fff;
				background:#08C;
			}
		}
	}

.category-nav{
	margin:10px auto;
	text-align: center;
	&:after{
		content: "";
		display: block;
		clear:both;
	}
	li{
		display: inline-block;
		float: left;
	}
	a{
		display: block;
		padding:10px;
		border-right:#e0e0e0 1px solid;
		// box-shadow:rgba(255,255,255,0.7) 1px 0px 0px;

	}
}
.category--active{
	a{
		color:#333;
	}
}