
.wrap{
	margin:20px auto;
	max-width:1000px;
}

.code-header{
	margin:0;
	padding:5px 0 10px;
	font-size: 3em;
	border-bottom:#f8f8f8 1px solid;
}

.code--block{
	display: block;
	vertical-align: top;
	margin:0 auto 40px;
	border-radius:5px;
	// box-shadow:rgba(0,0,0,0.2) 0px 1px 3px;
	overflow: hidden;
}

	.code--title{
		padding:10px 0;
		font-size: 1.5em;
		a{
			display: inline-block;
			padding:10px;
			color:#222;
			border:transparent 2px solid;
			border-radius:5px;
			-webkit-transition:all .1s ease-in-out;
			&:hover{
				color:#08C;
				border:#EEE 2px solid;
			}
		}
		// @include linear-gradient(top, #f8f8f8, #eee);
	}
	.code--body{
		position: relative;
		// pre{
		// 	padding:20px;
		// 	color:#f8f8f8;
		// 	text-shadow:#000 0px -1px 0px;
		// 	background:#333;
		// }
		code{
			margin:0 !important;
		}
		pre{
			margin:0 !important;
			text-shadow:rgba(0,0,0,0.8) 0px -1px 0px;
		}
	}
		.link-overlay{
			display: block;
			position: absolute;
			left:0;
			right:0;
			top:0;
			bottom:0;
			width:100%;
			height:100%;
			z-index:999;
			border-radius:4px;
			&:hover{
				box-shadow:inset #08C 0 0 0 2px;
			}
		}
	.code--foot{
		padding:5px 0;
		background:#fff;
		p{
			float:left;
			margin:0 10px 0 0;
			a{
				padding:0 10px;
				border-right:#f0f0f0 1px solid;
			}
		}
		.view-code{
			float:right;
			padding:5px 20px;
			border:#08C 2px solid;
			border-radius:5px;
			text-shadow:none;
			&:hover{
				color:#fff;
				background:#08C;
			}
		}
	}

.category-nav{
	margin:10px auto;
	text-align: center;
	&:after{
		content: "";
		display: block;
		clear:both;
	}
	li{
		display: inline-block;
		float: left;
	}
	a{
		display: block;
		padding:10px;
		border-right:#e0e0e0 1px solid;
		// box-shadow:rgba(255,255,255,0.7) 1px 0px 0px;

	}
}
.category--active{
	a{
		color:#333;
	}
}



// ----------------------------------------------------------------------
// ------------------------- TAG CLOUD STYLES ---------------------------
// ----------------------------------------------------------------------

.tag-cloud{
	list-style: none;
	margin:0;
	padding:0;
	li{
		display: inline-block;
		@include linear-gradient(top, #f6f6f8, #e5e5e7);
		border-radius:5px;
		border:#999 1px solid;
		overflow: hidden;
		&:hover{
			@include linear-gradient(top, #FFF, #e5e5e7);
			box-shadow:rgba(0,0,0,0.2) 0px 1px 3px;
		}
	}
	.list-head{
		background: none;
		border:0;
		padding:.5em 1em;
		&:hover{
			background: none;
			box-shadow: none;
		}
	}
	a{
		display: block;
		float: left;
		padding:.5em 1em;
		color:#222;
		font-size: .85em;
		box-shadow: inset rgba(0,0,0,.1) -1px 0px 0px, rgba(255,255,255,0.3) 1px 0px 0px;
	}
		.tag--add-link{
			float:left;
			padding:.5em 1em;
			box-shadow:none;
			&:hover{
				box-shadow:rgba(0,0,0,0.4) 0px 0px 7px;
				@include linear-gradient(top, #009EED, #08C);
				color:#fff;
				text-shadow:rgba(0,0,0,0.3) 0px -1px 0px;
			}
		}
		.tag--remove-link{
			float:left;
			padding:.5em 1em;
			box-shadow:none;
			&:hover{
				box-shadow:rgba(0,0,0,0.4) 0px 0px 7px;
				@include linear-gradient(top, #F24E29, #DE4826);
				color:#fff;
				text-shadow:rgba(0,0,0,0.3) 0px -1px 0px;
			}
		}
}

.tags--current{
	li{
		@include linear-gradient(top, #C9DE33, #B9CC2F);
		&:hover{
			@include linear-gradient(top, #DCF238, #B9CC2F);
		}
		a{
			color:#fff;
			text-shadow:rgba(0,0,0,0.3) 0px -1px 0px;
		}
	}
}

