
<%= render "shared/category_nav" %>

<div class="wrap">
	<div class="code--block">
		<div class="code--title">
			<%= @code.name %>
		</div>
		<div class="code--body">
			<%= @code.body.html_safe %>
		</div>
	</div>
</div>