<div class="footer">
	<div class="footer-wrap">
		<p>Made with love by <a href="http://www.mattboldt.com">Matt Boldt.</a></p>
		<p>
			Devkit exists both as a learning exercise for myself and a need for a collection of my most used things.<br />
			<small><em>( I can't tell you how many times I've pulled up an old website repo just to grab a snippet of code )</em></small>
		</p>
		<p>
			It's built using Ruby on Rails.<br />
		</p>
		<p>
			I hope others find it as usefull as I do. Do you? <a href="http://www.twitter.com/atmattb">Tweet me.</a><br />
			Have something to add? <a href="mailto:me@mattboldt.com">Email me.</a>
		</p>
	</div>
</div>