<div class="nav-wrap">
	<ul class="nav main-nav">
		<li><a href="/"><strong>webkit.io</strong></a></li>
		<li><a href="#">CSS &amp; HTML</a></li>
		<li><a href="#">SEO</a></li>
		<li><a href="#">Graphics</a></li>
	</ul>
	<input class="nav-search" type="search" placeholder="Search..."/>
</div>