<div class="nav-wrap">
	<ul class="nav main-nav">
		<li><a href="/"><strong>webkit.io</strong></a></li>
		<li><%= link_to "Tools", tools_path %>
			<ul class="main-nav-dropdown">
				<% for tool in @tools %>
					<li><%= link_to tool.title, tool_path(tool) %></li>
				<% end %>
			</ul>
		</li>
		<li><%= link_to "Code", categories_path %>
			<ul class="main-nav-dropdown">
				<% for category in @categories %>
					<li><%= link_to category.name, category_path(category) %></li>
				<% end %>
			</ul>
		</li>
	</ul>
	<input class="nav-search" type="search" placeholder="Search..."/>
</div>