<div class="nav-wrap">
	<ul class="nav main-nav">
		<li class="logo"><a href="/"><h1>devkit</h1><span class="logo-tag">Tools &amp; Resources <br /> for Developers</span></a></li>
		<li><%= link_to "Tools", tools_path %>
			<ul class="main-nav-dropdown">
				<% for tool in @tools %>
					<li><%= link_to tool.title, tool_path(tool) %></li>
				<% end %>
			</ul>
		</li>
		<li><%= link_to "Code", code_path %>
			<ul class="main-nav-dropdown">
				<% for category in @categories %>
					<li><%= link_to category.name, category_path(category) %></li>
				<% end %>
			</ul>
		</li>
	</ul>
	<form action="/search/" method="get">
		<input class="nav-search" type="search" name="q" placeholder="Search..."/>
	</form>
</div>
