
<% content_for :html do %>
	<html itemscope itemtype="http://schema.org/Blog">
<% end %>

<% title "Devkit | A Toolkit for Devlopers" %>

<% content_for :head do %>

	<!-- Basic meta info -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="name" content="Devkit" />
	<meta name="description" content="A collection of useful tools &amp; resources for web developers &amp; designers. Code snippets in CSS, HTML, Ruby &amp; more." />

	<!-- G+ Open Graph -->
	<meta property="og:title" content="Devkit | A Toolkit for Devlopers" />
	<meta property="og:image" content="http://" />
	<meta property="og:description" content="A collection of useful tools &amp; resources for web developers &amp; designers. Code snippets in CSS, HTML, Ruby &amp; more." />
	<!-- G+ author & publisher -->
	<link rel="author" href="http://plus.google.com/100085691725629323730/"/>
	<link rel="publisher" href="http://plus.google.com/100085691725629323730/"/>
	<!-- Twitter card -->
	<meta name="twitter:url" content="www.devkit.co"/>
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@atmattb" />
	<meta name="twitter:creator" content="@atmattb" />
	<meta name="twitter:title" content="Devkit | A Toolkit for Devlopers" />
	<meta name="twitter:description" content="A collection of useful tools &amp; resources for web developers &amp; designers. Code snippets in CSS, HTML, Ruby &amp; more." />
	<meta name="twitter:image" content="http://" />

	<script>
		$(function(){
			$(".home-search").focus(function(){
				$(".search-tooltip").addClass("search-tooltip-init");
			});
			$(".home-search").blur(function(){
				$(".search-tooltip").removeClass("search-tooltip-init").addClass("search-tooltip-close");
				setTimeout(function(){$(".search-tooltip").removeClass("search-tooltip-close");}, 250)
			});
		});
	</script>
<% end %>

<section class="header">
	<div class="wrap">
		<h1 class="headline">devkit</h1>
		<h2 class="tagline">tools &amp; resources for web developers</h2>
		<form action="/search/" method="get">
			<div class="home-search-wrap">
				<input class="home-search" placeholder="Search for code or tools." name="q" type="text" />
				<input type="submit" class="home-submit" value="Q"/>
				<div class="search-tooltip">
					<p>
						Try &#8220;CSS Triangles&#8221; or &#8220;Retina Image Swapping&#8221;
					</p>
				</div>
			</div>
		</form>
	</div>
</section>

<section class="body">
	<div class="home-wrap">

		<h1 class="h1 txt-ctr">devkit is...</h1>

		<h1>Code Snippets</h1>
		<h1>Tutorials</h1>
		<h1>Web Development Tools</h1>


	</div>

</section>