<section class="header">
	<div class="wrap">
		<h1 class="headline">webkit.io</h1>
		<h2 class="tagline">a toolkit for web developers</h2>
	</div>
</section>


<section class="body">
	<div class="home-wrap">

		<% for tool in @tools %>
			<div class="block">
				<h3 class="h3"><%= tool.title %></h3>
				<p><%= tool.desc %></p>
				<div class="btn btn-small">
					<%= link_to "View", tool %>
				</div>
			</div>
		<% end %>


	</div>

</section>