
<% title "Code Snippets | Devkit" %>

<% content_for :html do %>
<html itemscope itemtype="http://schema.org/Code">
<% end %>

<% content_for :head do %>

	<!-- Basic meta info -->
	<meta name="name" content="Devkit" />
	<meta name="description" content="A collection of useful tools &amp; resources for web developers &amp; designers. Code snippets in CSS, HTML, Ruby &amp; more." />

	<!-- G+ Open Graph -->
	<meta property="og:title" content="Code Snippets | Devkit" />
	<meta property="og:image" content="http://" />
	<meta property="og:description" content="A collection of useful tools &amp; resources for web developers &amp; designers. Code snippets in CSS, HTML, Ruby &amp; more." />

	<meta name="twitter:title" content="Code Snippets | Devkit" />
	<meta name="twitter:description" content="A collection of useful tools &amp; resources for web developers &amp; designers. Code snippets in CSS, HTML, Ruby &amp; more." />
	<meta name="twitter:image" content="http://" />

<% end %>


<div class="wrap">
	<p><%= error %></p>
	<%= render "shared/tag_cloud" %>

	<%= render "shared/category_nav" %>

	<%= render "codes/code_index" %>
</div>

<script>
$(function(){

});
</script>