<% content_for :head do %>
	<script>
$(function(){
	var form = $("#code-form form");
    $(".code-preview").click(function (){
        $.ajax({
          type: "POST",
          url: $(form).attr("action") + "preview",
          headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
          data: $(form).serialize(),
          dataType: "html",
          success: function(data){
		        $(".result").html(data);
              }
        });
    });
});

</script>

<% end %>


<div id="code-form">
<%= form_for @code do |f| %>
	<%= f.text_field :name %>
	<%= f.text_area :body_input %>
	<%= f.submit %>
<% end %>
</div>

<div class="result">Here's the result:</div>
<button class="code-preview">Preview</button>