body {
  background: #f0f0f0; }

.narrow {
  max-width: 700px; }

.meta-tag-body-wrap {
  margin: 0 auto;
  padding: 0 0 200px;
  max-width: 1100px; }

.ugh {
  clear: both; }

.local-storage-notice {
  position: fixed;
  top: 5px;
  right: 5px;
  opacity: 0;
  background: #08C;
  padding: 7px 15px;
  font-size: .75em;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: opacity .5s ease-in-out; }

.local-storage-init {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.glyph {
  display: inline-block;
  font-size: 2em;
  margin: 0 20px; }

.beta {
  top: -5px;
  font-size: 0.5em;
  color: #000;
  text-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px;
  position: absolute; }

.divider {
  margin: 25px auto;
  border: 0;
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
  border-top: rgba(0, 0, 0, 0.1) 1px solid; }

.form-wrap {
  max-width: 800px;
  margin: 0 auto; }
  @media (max-width: 1050px) {
    .form-wrap {
      width: 100%;
      float: none;
      max-width: 100%; } }

.form-block {
  padding: 10px 0;
  border-bottom: #fff 1px solid;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px -1px 0px; }
  .form-block label {
    display: block;
    margin: 0 0 10px; }
  .form-block input, .form-block textarea {
    display: block;
    width: 100%;
    padding: 7px;
    font-size: 1em;
    border: #CCC 1px solid;
    border-radius: 3px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 3px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 3px;
    outline: none;
    -webkit-transition: box-shadow 0.1s ease-in-out;
    -moz-transition: box-shadow 0.1s ease-in-out;
    -o-transition: box-shadow 0.1s ease-in-out;
    -ms-transition: box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out; }
    .form-block input:focus, .form-block textarea:focus {
      box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 3px, #0088cc 0px 0px 0px 1px, #0088cc 0px 0px 7px; }
  .form-block .desc {
    font-size: 0.9em;
    line-height: 1.4em;
    color: #777; }

input[type=checkbox] {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  float: right;
  width: 20px;
  height: 20px;
  padding: 9px;
  font-size: 12px;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  -webkit-appearance: none;
  cursor: pointer; }
  input[type=checkbox]:active {
    box-shadow: inset #CCC 0px 0px 5px; }
  input[type=checkbox]:active:before, input[type=checkbox]:checked:before {
    content: "\2714";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px -5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px; }

.line-title {
  padding: 0 0 10px;
  border-bottom: #CCC 3px solid; }

.line-label {
  display: inline-block;
  font-weight: 500;
  font-size: 1.25em; }

.limit {
  color: #CCC;
  font-size: 0.9em;
  float: right; }

.low {
  color: blue; }

.out {
  color: red; }

.inactive {
  opacity: 0.5; }

.active {
  opacity: 1;
  display: block; }

.off {
  display: none; }

.help {
  text-align: right; }
  .help .tooltip {
    display: none;
    position: absolute;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-align: left;
    z-index: 999; }
  .help .init {
    display: block;
    opacity: 1; }

.media {
  display: block; }
  .media .img {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; }
  .media .desc {
    display: inline-block;
    vertical-align: top; }

.output-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0px;
  overflow: hidden;
  background: #fafafa;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 30px;
  z-index: 9999;
  width: 100%;
  overflow: auto;
  -webkit-transition: height 0.2s cubic-bezier(0.5, 0.5, 0.5, 1.15);
  -moz-transition: height 0.2s cubic-bezier(0.5, 0.5, 0.5, 1.15);
  -o-transition: height 0.2s cubic-bezier(0.5, 0.5, 0.5, 1.15);
  -ms-transition: height 0.2s cubic-bezier(0.5, 0.5, 0.5, 1.15);
  transition: height 0.2s cubic-bezier(0.5, 0.5, 0.5, 1.15); }
  @media (max-width: 1050px) {
    .output-wrap {
      width: auto;
      float: none; }
      .output-wrap .output-outer {
        display: block;
        width: auto;
        clear: both;
        position: relative; } }

.output-init {
  height: 80%; }

.output-toggle-wrap {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  margin: 0; }
  .output-toggle-wrap a {
    display: block;
    margin: 0;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    background: #222;
    color: #fff;
    text-shadow: #000 0px -1px 0px; }
    .output-toggle-wrap a:hover {
      background: #444; }
    .output-toggle-wrap a span {
      background: #33C925;
      padding: .5em;
      border-radius: 4px; }
      .output-toggle-wrap a span:hover {
        background: #39E02D; }

.output-close {
  position: fixed;
  padding: 10px;
  margin: 10px;
  background: #f0f0f0;
  border-radius: 5px;
  cursor: pointer; }
  .output-close:hover {
    color: #fff;
    background: #222;
    text-shadow: #000 0px -1px 0px; }

.output-outer {
  max-width: 900px;
  margin: 20px auto;
  border: rgba(0, 0, 0, 0.3) 1px solid;
  border-radius: 5px;
  overflow: hidden; }

.output-head {
  margin: 0;
  padding: 15px 0;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 0px, inset rgba(0, 0, 0, 0.2) 0px -1px 0px; }
  .output-head a {
    margin: 0 20px;
    padding: 5px 10px;
    border: #0f3c6a 1px solid;
    border-radius: 5px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px;
    background-image: -webkit-linear-gradient(top, #2173c5, #155697);
    background-image: -moz-linear-gradient(top, #2173c5, #155697);
    background-image: -ms-linear-gradient(top, #2173c5, #155697);
    background-image: -o-linear-gradient(top, #2173c5, #155697);
    background-image: linear-gradient(top, #2173c5, #155697); }
    .output-head a:hover {
      background-image: -webkit-linear-gradient(top, #3b8cde, #155697);
      background-image: -moz-linear-gradient(top, #3b8cde, #155697);
      background-image: -o-linear-gradient(top, #3b8cde, #155697);
      background-image: -ms-linear-gradient(top, #3b8cde, #155697);
      background-image: linear-gradient(top, #3b8cde, #155697); }
    .output-head a:active {
      background-image: -webkit-linear-gradient(top, #2173c5, 10%, #155697);
      background-image: -moz-linear-gradient(top, #2173c5, 10%, #155697);
      background-image: -o-linear-gradient(top, #2173c5, 10%, #155697);
      background-image: -ms-linear-gradient(top, #2173c5, 10%, #155697);
      background-image: linear-gradient(top, #2173c5, 10%, #155697);
      -webkit-box-shadow: inset rgba(0, 0, 0, 0.4) 0px 2px 5px;
      box-shadow: inset rgba(0, 0, 0, 0.4) 0px 2px 5px; }

.output {
  max-height: 450px;
  background: #fff;
  font-size: 0.75em;
  color: #000;
  text-shadow: none;
  margin: auto;
  padding: 10px 20px;
  overflow: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .output pre {
    display: block;
    margin-bottom: 15px; }
  .output ::selection {
    background: #adccf9; }

.output-toggle-notice {
  position: fixed;
  bottom: 70px;
  left: 20px;
  color: #33C925;
  background: #fff;
  padding: .5em;
  text-shadow: none;
  border-radius: 5px;
  opacity: 0.6;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px; }

.complete {
  max-width: 700px;
  margin: 0px auto 100px;
  padding: 10px 30px;
  text-align: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px; }
  .complete p {
    text-align: left; }
