.headline{
	margin:.35em 0 0;
	font-size: 6em;
	text-align: center;
}
.tagline{
	margin:0 0 1em;
	font-size: 1.8em;
	text-align: center;
}

.home-wrap{
	margin:50px auto;
	max-width:750px;
}

.home-hero-text{
	h2{
		font-size: 2.5em;
		font-weight: 400;
	}
	// text-align: center;
	p{
		color:#333;
	}
}

.top-tools{
	list-style: none;
	padding:0;
	li{
		display: block;
	}
	a{
		display: inline-block;
		padding:10px 10px;
		@include linear-gradient(top, #fff, #f0f0f0);
		font-size: 1.5em;
		color:#444;
		text-shadow:rgba(255,255,255,0.9) 0px 1px 0px;
		border:#CCC 1px solid;
		border-radius:4px;
		box-shadow:inset rgba(255,255,255,0.8) 0px -1px 0px, rgba(0,0,0,0.1) 0px 1px 3px;
		&:hover{
			box-shadow:inset rgba(255,255,255,1) 0px 0px 20px, rgba(0,0,0,0.3) 0px 1px 5px;
		}
		&:active{
			box-shadow:inset rgba(0,0,0,0.1) 0px 1px 5px;
		}
	}
	p{
		display: inline-block;
	}
}

.home-search-wrap{
	display: block;
	width:100%;
	padding:0px 0px 0px 15px;
	background:#fff;
	@include border-radius(7px);
	border:#e5e5e5 1px solid;
	&:after{
		content: "";
		display: block;
		clear:both;
	}
}
	.home-search{
		display: block;
		float:left;
		width:89%;
		padding:20px 0;
		font-size: 1.75em;
		border:0;
		outline:none;
	}

	.home-submit{
		display: block;
		float: right;
		margin:5px 10px 0 0;
		padding:20px 25px;
		color:#fff;
		text-shadow:rgba(0,0,0,0.3) 0px -1px 0px;
		@include border-radius(5px);
		@include linear-gradient(top, #7a99c1, #2c4361);
		box-shadow: inset rgba(255,255,255,0.3) 0px 1px 0px;
		border:#006399 1px solid;
	}

.examples{
	margin:10px 0 50px;
	padding:0;
	list-style: none;
	text-align: center;
	font-size: 0.9em;
	li{
		display: inline-block;
		color:#999;
		padding:0 10px;
	}
}

.home-categories{
	list-style: none;
	margin:0;
	padding:0;
	li{
		display: inline-block;
	}
	a{
		display: block;
		margin:0 0 10px;
		padding:25px 30px;
		border:#e5e5e5 1px solid;
		@include border-radius(10px);
		background:#fff;
	}
}

.block{
	margin:0 auto 20px;
	padding:20px;
	color:#193441;
	text-shadow:rgba(255,255,255,1) 0px 1px 0px;
	// background:#91AA9D;
	overflow: hidden;
	// @include border-radius(5px);
	.h3{
		margin:0 0 1em;
	}
	.btn{
		display: block;
		text-align: center;
		a{
			padding:.75em 2em;
			display: inline-block;
		}
	}
}