.headline{
	margin:.35em 0 0;
	font-size: 6em;
	text-align: center;
}
.tagline{
	margin:0 0 1em;
	font-size: 1.8em;
	text-align: center;
}

.home-wrap{
	margin:50px auto;
	max-width:900px;
	font-size: 1.15em;
}

.home-hero-text{
	h2{
		font-size: 2.5em;
		font-weight: 400;
	}
	// text-align: center;
	p{
		color:#333;
	}
}



.home-search-wrap{
	display: block;
	position: relative;
	width:100%;
	max-width:600px;
	margin:0 auto;
	padding:0 0 0 15px;
	background:#fff;
	@include border-radius(7px);
	border:#e5e5e5 1px solid;
	&:after{
		content: "";
		display: block;
		clear:both;
	}
}
	.home-search{
		display: block;
		float:left;
		width:100%;
		max-width:500px;
		padding:20px 0;
		font-size: 1.5em;
		border:0;
		outline:none;
	}

	.home-submit{
		display: block;
		float: right;
		margin:5px 10px 0 0;
		padding:20px 25px;
		color:#fff;
		text-shadow:rgba(0,0,0,0.3) 0px -1px 0px;
		@include border-radius(5px);
		@include linear-gradient(top, #7a99c1, #2c4361);
		box-shadow: inset rgba(255,255,255,0.3) 0px 1px 0px;
		border:#006399 1px solid;
	}
		.search-tooltip{
			position: absolute;
			top:-10px;
			right:-180px;
			opacity:0;
			visibility: hidden;
			max-width:220px;
			padding:20px 15px;
			background-color:rgba(0,0,0,0.8);
			@include linear-gradient(top, rgba(50,50,50,0.8), rgba(0,0,0,0.8));
			border-radius:5px;
			-webkit-transition:
				right .25s cubic-bezier(.5, 1, .5, 1)
				, top .25s cubic-bezier(.5, 1, .5, 1)
				, opacity .25s ease-in, visibility .25s ease-in;
			-moz-transition:
				right .25s cubic-bezier(.5, 1, .5, 1)
				, top .25s cubic-bezier(.5, 1, .5, 1)
				, opacity .25s ease-in, visibility .25s ease-in;
			-ms-transition:
				right .25s cubic-bezier(.5, 1, .5, 1)
				, top .25s cubic-bezier(.5, 1, .5, 1)
				, opacity .25s ease-in, visibility .25s ease-in;
			-o-transition:
				right .25s cubic-bezier(.5, 1, .5, 1)
				, top .25s cubic-bezier(.5, 1, .5, 1)
				, opacity .25s ease-in, visibility .25s ease-in;
			transition:
				right .25s cubic-bezier(.5, 1, .5, 1)
				, top .25s cubic-bezier(.5, 1, .5, 1)
				, opacity .25s ease-in, visibility .25s ease-in;
			p{
				margin:0;
			}
			&:before{
				content:"";
				display: block;
				position: absolute;
				left:-30px;
				top:30px;
				border:transparent 15px solid;
				border-right-color:rgba(0,0,0,0.9);
			}
		}
			.search-tooltip-init{
				right:-240px;
				opacity:1;
				visibility: visible;
			}
			.search-tooltip-close{
				top:-400px;
			}


