.nav-wrap{
	position: relative;
	margin:0;
	padding:0;
	width:100%;
	@include linear-gradient(top, #f8f8f8, #eaeaea);
	box-shadow:inset rgba(0,0,0,0.1) 0px -1px 0px, inset rgba(255,255,255,0.5) 0px 1px 0px, rgba(0,0,0,0.3) 0px 0px 5px;
	overflow: visible;
	&:after{
		content: "";
		display: block;
		clear:both;
	}
}

.main-nav{
	display: block;
	padding:0 10px;
	float: left;
	margin:0 auto;
	li{
		margin:0;
		padding:0;
		position: relative;
		overflow: visible;
		ul{
			z-index:9999;
		}
		&:hover ul{
			left:0px;
		}
	}
	a{
		display: block;
		padding:20px 20px;
		color:#333;
		box-shadow: inset rgba(0,0,0,.1) -1px 0px 0px, rgba(255,255,255,0.7) 1px 0px 0px;
		overflow: visible;
	}
}

.nav-search{
	display: block;
	float:left;
	margin:5px 10px;
	padding:10px;
	width:100px;
	height:25px;
	border-radius:5px;
	border:#e0e0e0 1px solid;
	outline:none;
	-webkit-transition:width 0.3s ease-in-out;
	&:focus{
		width:300px;
	}
}

.main-nav-dropdown{
	display: block;
	margin:0;
	padding:0;
	width:auto;
	font-size: 0.85em;
	background:#FFF;
	position: absolute;
	left:-9999999px;
	top:58px;
	box-shadow:rgba(0,0,0,0.2) 0px 2px 5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	li{
		width:300px;
		display:block;
		padding:5px;
	}
	a{
		display: block;
		padding:5px;
	}
}

