.nav{
	margin:0;
	padding:0;
	list-style: none;
	li{
		display: block;
		float:left;
		margin:0;
		padding:0;
		vertical-align: top;
	}
	a{
		display: block;
	}
}


// Nav bar
.nav-container{
	position: relative;
	margin:0;
	padding:0;
	width:100%;
	@include linear-gradient(top, #f6f6f8, #e5e5e7);
	box-shadow:inset rgba(255,255,255,0.5) 0px -1px 0px, inset rgba(255,255,255,0.5) 0px 1px 0px, rgba(0,0,0,0.3) 0px 0px 5px;
	border-bottom:#999 1px solid;
	overflow: visible;
	&:after{
		content: "";
		display: block;
		clear:both;
	}
}

.nav-wrap{
	max-width:1000px;
	margin:0 auto;
	box-shadow: rgba(0,0,0,.1) -1px 0px 0px, inset rgba(255,255,255,0.7) 1px 0px 0px;
	&:after{
		content:"";
		display: table;
		clear:both;
	}
}

.main-nav{
	display: block;
	float: left;
	margin:0 auto;
	li{
		margin:0;
		padding:0;
		position: relative;
		overflow: visible;
		& > a{
			display: block;
			margin:0;
			padding:.8em 1.25em .55em;
			color:#333;
			box-shadow: inset rgba(0,0,0,.1) -1px 0px 0px, rgba(255,255,255,0.7) 1px 0px 0px;
			overflow: visible;
			&:hover{
				box-shadow: inset rgba(0,0,0,.1) -1px 0px 0px, rgba(255,255,255,0.7) 1px 0px 0px, inset rgba(255,255,255,1) 0px 0px 20px;
			}
			&:active{
				box-shadow: inset rgba(0,0,0,.1) -1px 0px 0px, inset rgba(0,0,0,0.2) 0px 0px 5px;
			}
		}
		&:hover .main-nav-dropdown{
			left:0px;
		}
	}
	h3{
		margin:0;
		padding:.8em .5em .8em;
		border-bottom:#f0f0f0 1px solid;
	}
		ul{
			width:300px;
			z-index:9999;
			overflow: hidden;
			li{
				display: block;
				float:none;
				width:100%;
				&.list-head{
					display: block;
					float:none;
					width:100%;
				}
			}
			a{
				display: block;
				padding:.75em 1em;
				box-shadow:#f0f0f0 1px 0px 0px;
				text-align: center;
				&:hover{
					background: #f8f8f8;
					box-shadow:#f0f0f0 1px 0px 0px, #f0f0f0 -1px 0px 0px;
				}
			}
		}
	.logo{
		& > a{
			padding:.75em 1.25em;
			// background-image: -webkit-linear-gradient(-85deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 100%);
		}
		h1{
			display: inline-block;
			margin:0 0.5em 0 0;
			padding:0;
			color:#222;
			font-size: 2em;
			line-height: 1.15em;
			vertical-align: middle;
		}
		font-size: 0.9em;
	}
}

.logo-tag{
	display: inline-block;
	padding:3px 0 0 0;
	font-size: 0.8em;
	font-weight: 400;
	color:#999;
	overflow: hidden;
	vertical-align: middle;
}

.nav-search{
	display: block;
	float:left;
	margin:6px 10px;
	padding:10px;
	width:100px;
	height:20px;
	border-radius:5px;
	border:#e0e0e0 1px solid;
	outline:none;
	-webkit-transition:width 0.3s ease-in-out;
	&:focus{
		width:300px;
	}
}

.main-nav-dropdown{
	position: absolute;
	width:130px;
	left:-999999px;
	top:65px;
	margin-left:-30px;
	padding:.75em .5em;
	color:#fff;
	font-size: .9em;
	text-align: center;
	text-shadow:#000 0px -1px 0px;
	background:rgba(0,0,0,0.9);
	border-radius:5px;
	z-index:999;
	&:before{
		content:"";
		display: block;
		position: absolute;
		top:-25px;
		left:50%;
		margin-left:-15px;
		border:transparent 15px solid;
		border-bottom-color:rgba(0,0,0,0.9);
	}
}


.admin-nav{
	@include linear-gradient(top, #444, #222);
	box-shadow:inset rgba(255,255,255,0.1) 0px -1px 0px, inset rgba(255,255,255,0.1) 0px 1px 0px, rgba(0,0,0,0.3) 0px 0px 5px;
	border-bottom:#999 1px solid;
	.nav-wrap{
		max-width:1000px;
		margin:0 auto;
		box-shadow: rgba(0,0,0,.1) -1px 0px 0px, inset rgba(255,255,255,0.1) 1px 0px 0px;
	}
	.main-nav{
		a{
			color:#f8f8f8;
			padding:1em 1em;
			text-shadow:rgba(0,0,0,0.9) 0px -1px 0px;
			box-shadow: inset rgba(0,0,0,.1) -1px 0px 0px, rgba(255,255,255,0.1) 1px 0px 0px;
			&:hover{
				box-shadow: inset rgba(0,0,0,.1) -1px 0px 0px, rgba(255,255,255,0.1) 1px 0px 0px, inset rgba(255,255,255,.1) 0px 0px 20px;
			}
			&:active{
				box-shadow: inset rgba(0,0,0,.1) -1px 0px 0px, inset rgba(0,0,0,0.2) 0px 0px 5px;
			}
		}
		.logo{
			a{
				padding:.5em 1em;
			}
			h1{
				color:#f8f8f8;
			}
		}
	}
}

