@import "normalize";
@import "base";
@import "globals";


.header{
	margin:0;
	padding:10px;
	width:100%;
	color:#fff;
	text-shadow:rgba(0,0,0,0.8) 0px 1px 2px;
	// background-color:#3E606F;
	background-color:#08C;
	@include linear-gradient(top, #3399cc, #08C);
}


@import "nav";

.btn{
	display: inline-block;
	a{
		display: block;
		padding:.75em 1em;
		color:#333;
		font-size: 1em;
		text-shadow:rgba(255,255,255,0.9) 0px 1px 0px;
		box-shadow:inset rgba(255,255,255,0.7) 0px 1px 0px, inset rgba(0,0,0,0.1) 0px -1px 0px;
		@include linear-gradient(top, #f8f8f8, #EEE);
		@include border-radius(5px);
	}
}

.row{
	padding:0 0 5em;
	overflow: hidden;
	clear: both;
}

.grid{
	display: block;
	float:left;
	margin:0;
	padding:.25em 1em 1em;
	h1{
		margin-top:0;
	}
}
	.col-2{
		width:50%;
	}

	.col-img{
		margin:2em 0 0;
	}

@import "home";
@import "codes/main";
@import "tools/main";
@import "pygments";
@import "mobile";

@import "admin/main";