
<div class="wrap">
	<%= render "shared/category_nav" %>
	<h1 class="code-header">All Code</h1>
	<% for category in @categories %>
		<% for code in category.codes %>
		<div class="code--block full-page">
			<div class="code--title">
				<%= code.name %>
			</div>
			<div class="code--body">
				<%= code.preview %>
			</div>
			<div class="code--foot">
				<%= link_to "View", [category, code]%>
			</div>
		</div>
		<% end %>
	<% end %>
</div>
